<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="false">
    
    <testsuites>
        <testsuite name="RogerioPradoj_BoxCalculator">
            <directory>tests/src/RogerioPradoJ</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory>src/RogerioPradoJ</directory>
        </whitelist>
    </filter>
</phpunit>